<center>
    <div class="coin_body" id="results" onmouseover="makePurdy()" onmouseout="purdyGone()">
        <p class="coin_title">Minimal Coins Used For <%=cents%> Cents</p>
        <p id="date"></p>
        <p>Quarters: <%=quarter%><br>Dimes: <%=dime%><br>Nickels: <%=nickel%><br>Pennies: <%=penny%></p>
        <form method="get" action="/">
            <input type="submit" value="Again?">
        </form>
    </div>
</center>