<center>
    <div class="coin_body" id="results" onmouseover="makePurdy()" onmouseout="purdyGone()">
        <p class="coin_title">Minimal Coins Used For <%=cents%> Cents</p>
        <font id="date"></font>
        <div class="centerDiv">
        <font id="q"><%=quarter%></font><font id="quarter"> Quarters</font><br>
        <font id="d"><%=dime%></font><font id="dime"> Dimes</font><br>
        <font id="n"><%=nickel%></font><font id="nickel"> Nickels</font><br>
        <font id="p"><%=penny%></font><font id="penny"> Pennies</font><br>
        </div>
        <form method="get" action="/">
            <input type="submit" value="Again?">
        </form>
    </div>
</center>